@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@100;700&display=swap');


/* for debug */
* {
    border: 0px solid red;
}

body,html{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background-color: white;
    height: 95%;
    font-weight: 600;
}

.container{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.login-form{
    height: 500px;
    width: 430px;
    padding: 0 35px;
    background-color: white;
    border: none;
}

input[type="Username"],
input[type="password"] {
    border-radius: 20px;
    border : 1px solid grey;
}

.btn-login{
    height: 35px;
    border-radius: 20px;
    font-weight: 700;
}

.link{
    color: #0d6efd;
    text-decoration: none;
}

.link:hover{
    color:black;
}

.btn-gmail{
    height: 35px;
    border : 2px solid grey;
    border-radius: 20px;
    font-weight: 700;
}

.img-google{
    height: 20px;
    width: 20px;
}
